/* normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  -moz-box-sizing: border-box;
       box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
@font-face {
  font-family: 'CalibreWeb';
  src: url("/fonts/CalibreWeb-Light.eot");
  src: url("/fonts/CalibreWeb-Light.eot?#iefix") format('embedded-opentype'), url("/fonts/CalibreWeb-Light.woff2") format('woff2'), url("/fonts/CalibreWeb-Light.woff") format('woff');
  font-weight: 300;
}
@font-face {
  font-family: 'CalibreWeb';
  src: url("/fonts/CalibreWeb-Semibold.eot");
  src: url("/fonts/CalibreWeb-Semibold.eot?#iefix") format('embedded-opentype'), url("/fonts/CalibreWeb-Semibold.woff2") format('woff2'), url("/fonts/CalibreWeb-Semibold.woff") format('woff');
  font-weight: bold;
}
@font-face {
  font-family: 'CalibreWeb';
  src: url("/fonts/CalibreWeb-Regular.eot");
  src: url("/fonts/CalibreWeb-Regular.eot?#iefix") format('embedded-opentype'), url("/fonts/CalibreWeb-Regular.woff2") format('woff2'), url("/fonts/CalibreWeb-Regular.woff") format('woff');
  font-weight: 400;
}
@font-face {
  font-family: 'CalibreWeb';
  src: url("/fonts/CalibreWeb-RegularItalic.eot");
  src: url("/fonts/CalibreWeb-RegularItalic.eot?#iefix") format('embedded-opentype'), url("/fonts/CalibreWeb-RegularItalic.woff2") format('woff2'), url("/fonts/CalibreWeb-RegularItalic.woff") format('woff');
  font-style: italic;
}
@font-face {
  font-family: 'CalibreWeb';
  src: url("/fonts/CalibreWeb-Medium.eot");
  src: url("/fonts/CalibreWeb-Medium.eot?#iefix") format('embedded-opentype'), url("/fonts/CalibreWeb-Medium.woff2") format('woff2'), url("/fonts/CalibreWeb-Medium.woff") format('woff');
  font-weight: 500;
}
@font-face {
  font-family: 'lexia';
  font-weight: 200;
}
@font-face {
  font-family: 'font-icon';
  src: url("/fonts/font-icon.eot?50657628");
  src: url("/fonts/font-icon.eot?50657628#iefix") format('embedded-opentype'), url("/fonts/font-icon.woff?50657628") format('woff'), url("/fonts/font-icon.ttf?50657628") format('truetype'), url("/fonts/font-icon.svg?50657628#font-icon") format('svg');
  font-weight: normal;
  font-style: normal;
}
html {
  font-size: 9px;
}
@media screen and (min-width: 768px) {
  html {
    font-size: 10px;
  }
}
@media screen and (min-width: 1280px) {
  html {
    font-size: 10.5px;
  }
}
@media screen and (min-width: 1680px) {
  html {
    font-size: 11px;
  }
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
img {
  max-width: 100%;
  max-height: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #111;
}
.fonts-loaded body {
  font-family: CalibreWeb, Helvetica, Arial, sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
p a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  border-bottom: solid #e4e4e4 1px;
}
p a:hover {
  border-bottom: solid #111 1px;
}
p,
ul {
  font-size: 2rem;
  list-style: none;
  line-height: 1.4;
  color: #5d5d5d;
  position: relative;
  padding-left: 0;
  margin: 0 0 1.5rem;
}
strong {
  color: #111;
  font-weight: bold;
}
ol {
  font-size: 2rem;
  padding-left: 1.5rem;
  color: #5d5d5d;
}
ol li {
  margin-bottom: 1.5rem;
}
ol p {
  display: inline;
}
blockquote {
  margin: 0 0 1.5rem;
}
cite:before {
  content: " – ";
}
figure {
  margin: 0;
}
h1 {
  font-size: 4rem;
  font-weight: 200;
}
h2 {
  font-size: 3.4rem;
  font-weight: 200;
}
h3,
h4 {
  font-size: 3.2rem;
  font-weight: 200;
}
.o-article {
  position: relative;
  margin: 0 auto 6rem;
  text-align: center;
}
@media screen and (min-width: 480px) {
  .o-article {
    max-width: 56rem;
  }
}
@media screen and (min-width: 1024px) {
  .o-article {
    max-width: 90%;
    margin: 0 auto 9rem;
  }
}
.o-article h1,
.o-article h2,
.o-article h3,
.o-article h4 {
  margin: 3rem 0 1.5rem;
}
.o-article p {
  overflow: hidden;
}
.o-article__title {
  margin-bottom: 3rem;
}
@media screen and (min-width: 1024px) {
  .o-article__title {
    width: 70%;
    margin: 0 auto;
  }
}
.o-article__cover {
  margin: 3rem auto 0;
}
@media screen and (min-width: 1024px) {
  .o-article__cover {
    width: 65%;
  }
}
.o-article__photo {
  padding-top: 56%;
}
@media screen and (min-width: 1024px) {
  .o-article__photo {
    padding-top: 60%;
  }
}
.o-article__sidebar {
  position: relative;
  padding-top: 3rem;
  margin-bottom: 4.5rem;
  text-align: left;
}
@media screen and (min-width: 1024px) {
  .o-article__sidebar {
    width: 15%;
    position: absolute;
    left: 0;
    margin-top: 1rem;
  }
}
.o-article__sidebar div {
  margin-bottom: 0.5rem;
}
.o-article__sidebar::before {
  content: '\2013';
  position: absolute;
  top: 0;
  left: 0;
  font-size: 5.6rem;
  line-height: 0;
}
.o-article__content {
  text-align: left;
}
@media screen and (min-width: 1024px) {
  .o-article__content {
    margin: 0 auto;
    width: 60%;
  }
}
.o-article__content p,
.o-article__content ul {
  display: block;
}
.o-article__content img {
  display: block;
  margin: 3rem 0;
}
@media screen and (min-width: 1024px) {
  .o-article__content img {
    position: relative;
    left: -5%;
    max-width: 110%;
    display: block;
    margin: 6rem auto;
  }
}
.o-column-boxed {
  position: relative;
  border: 1px solid #e4e4e4;
  padding: 3rem 3%;
  text-align: center;
  background: #f7f7f7;
}
.o-column-boxed--small {
  max-width: 80rem;
  margin: 6rem auto;
}
.o-column-boxed--padded {
  padding: 4.5rem 4.5%;
}
.o-column-bordered {
  padding: 9rem 0;
  position: relative;
  margin: 0 auto;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .o-column-bordered {
    padding: 12rem 0;
  }
}
.o-column-bordered::after,
.o-column-bordered::before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #e4e4e4;
}
@media screen and (min-width: 1024px) {
  .o-column-bordered::after,
  .o-column-bordered::before {
    width: 33.33%;
    margin: 0 33.33%;
  }
}
.o-column-bordered::after {
  bottom: 0;
}
.o-column-bordered::before {
  top: 0;
}
.o-column-2max {
  position: relative;
  margin-bottom: 3rem;
}
.o-column-2max:last-of-type {
  margin-bottom: 0;
}
@media screen and (min-width: 1024px) {
  .o-column-2max {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    width: 50%;
  }
}
@media screen and (min-width: 1024px) {
  .o-column-2max--pad-left {
    padding-left: 6%;
  }
}
@media screen and (min-width: 1024px) {
  .o-column-2max--pad-right {
    padding-right: 6%;
  }
}
@media screen and (min-width: 1024px) {
  .o-column-2max--pad-left-3 {
    padding-left: 3%;
  }
}
@media screen and (min-width: 1024px) {
  .o-column-2max--pad-right-3 {
    padding-right: 3%;
  }
}
@media screen and (min-width: 768px) {
  .o-column-2max--profile {
    display: inline-block;
    margin-bottom: 4.5rem;
    vertical-align: middle;
    width: 50%;
  }
  .o-column-2max--profile:nth-of-type(1) {
    padding-right: 3%;
  }
  .o-column-2max--profile:nth-of-type(2) {
    padding-left: 3%;
  }
}
@media screen and (min-width: 768px) {
  .o-column-2max--bio {
    display: inline-block;
    vertical-align: top;
    width: 68%;
  }
}
@media screen and (min-width: 768px) {
  .o-column-2max--sidebar {
    display: inline-block;
    padding-left: 4.5%;
    width: 32%;
    vertical-align: top;
  }
}
.o-column-2max--overflow {
  width: 48%;
  max-width: 42rem;
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0;
  padding-right: 6%;
}
@media screen and (min-width: 1024px) {
  .o-column-2max--bleed-right {
    position: absolute;
    width: 75%;
    max-width: 82rem;
    top: 0;
    padding-left: 6rem;
  }
}
.o-column-4max {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  margin: 1.5rem 0;
  padding: 0 3%;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .o-column-4max {
    width: 25%;
  }
}
.o-container {
  margin: 0 auto;
  width: 95%;
  padding: 0 1.5rem;
  max-width: 118rem;
  position: relative;
}
.o-container::after {
  clear: both;
  content: '';
  display: block;
}
@media screen and (min-width: 480px) {
  .o-container {
    width: 90%;
  }
}
@media screen and (min-width: 768px) {
  .o-container {
    max-width: 76rem;
  }
}
@media screen and (min-width: 1024px) {
  .o-container {
    max-width: 100rem;
  }
}
@media screen and (min-width: 1680px) {
  .o-container {
    max-width: 120rem;
  }
}
.o-container--thin {
  max-width: 78rem;
  padding: 0 2rem;
}
.ContentWrapper {
  max-width: 60rem;
  margin: 0 auto;
}
.ContentWrapper--smaller {
  max-width: 48rem;
}
@media screen and (min-width: 1024px) {
  .ContentWrapper--caseStudy {
    max-width: 100%;
  }
}
.ContentWrapper--noMargin {
  margin: 0;
}
.ContentWrapper--bordered {
  border: 1px solid #e4e4e4;
  padding: 6%;
}
@media screen and (min-width: 1024px) {
  .ContentWrapper--bordered {
    border: none;
    padding: 0;
  }
}
.ContentWrapper .Title {
  font-size: 3rem;
  font-weight: 250;
}
.o-footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 3rem 2rem;
  font-weight: 400;
  background: #111;
}
@media screen and (min-width: 480px) {
  .o-footer {
    padding: 3.5rem 4rem 3rem;
  }
}
@media screen and (min-width: 768px) {
  .o-footer {
    -ms-flex-pack: justify;
        justify-content: space-between;
  }
}
.o-header {
  margin-bottom: 4.5rem;
}
@media screen and (min-width: 1024px) {
  .o-header {
    margin-bottom: 6rem;
  }
}
.o-main {
  overflow: hidden;
  margin-top: 10rem;
}
@media screen and (min-width: 768px) {
  .o-main {
    margin-top: 12rem;
  }
}
.o-main--compact {
  margin-top: 4rem;
}
@media screen and (min-width: 768px) {
  .o-main--compact {
    margin-top: 8rem;
  }
}
.Nav {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 2rem 1rem 0;
  background: #fff;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
  z-index: 97;
}
@media screen and (min-width: 480px) {
  .Nav {
    padding: 2.3rem 2rem 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  .Nav {
    padding: 2.6rem 3rem 1.5rem;
  }
}
.Nav__wrapper {
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-align: end;
      align-items: flex-end;
  -ms-flex-pack: justify;
      justify-content: space-between;
  z-index: 99;
}
.Nav__logo {
  display: block;
  max-width: 10rem;
  padding-bottom: 1.2rem;
  transition: box-shadow 0.3s;
}
@media screen and (min-width: 768px) {
  .Nav__logo {
    max-width: 12rem;
    padding-bottom: 1.5rem;
  }
}
.Nav__drawer {
  display: none;
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  right: 0;
  padding: 6rem 3rem;
  background: #fff;
  z-index: 98;
}
@media screen and (min-width: 480px) {
  .Nav__drawer {
    display: none;
  }
}
.Nav__drawerToggle {
  display: block;
  padding: 0 1rem 1rem;
  font-size: 2rem;
  cursor: pointer;
  transition: box-shadow 0.3s;
}
@media screen and (min-width: 480px) {
  .Nav__drawerToggle {
    display: none;
  }
}
.Nav__drawerLink {
  display: block;
  text-align: center;
  padding: 3.2rem 0;
  font-size: 2.4rem;
  box-shadow: 0 1px 0 0 #e4e4e4;
  line-height: 1;
  -webkit-transform: translate(0, 100vh);
          transform: translate(0, 100vh);
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
}
.Nav__drawerLink.is-open {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.Nav__menu {
  display: none;
}
@media screen and (min-width: 480px) {
  .Nav__menu {
    display: block;
  }
}
.Nav__menuLink {
  display: inline-block;
  padding-bottom: 1rem;
  margin: 0 1rem;
  font-size: 1.8rem;
  transition: color 0.3s;
}
.Nav__menuLink.is-active {
  color: #111;
  font-weight: 500;
}
.Nav__menuLink.is-inactive {
  color: #5d5d5d;
}
.Nav__menuLink:hover {
  color: #111;
}
@media screen and (min-width: 768px) {
  .Nav__menuLink {
    padding-bottom: 1.2rem;
    margin: 0 1.33rem;
  }
}
.o-profile__container {
  max-width: 55rem;
}
@media screen and (min-width: 1024px) {
  .o-profile__container {
    width: 100%;
    max-width: 100rem;
  }
}
.o-profile__header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  -ms-flex-align: center;
      align-items: center;
}
@media screen and (min-width: 1024px) {
  .o-profile__header {
    margin-bottom: 4.5rem;
    -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
  }
}
.o-profile__title {
  width: 100%;
  margin-bottom: 3rem;
}
@media screen and (min-width: 1024px) {
  .o-profile__title {
    width: 70%;
    margin-bottom: 0;
  }
}
.o-profile__photo {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .o-profile__photo {
    width: 30%;
  }
}
.o-profile__photo div {
  width: 66.66%;
  padding-top: 66.66%;
  margin: 0 auto;
  background-size: cover;
  border-radius: 50%;
}
@media screen and (min-width: 480px) {
  .o-profile__photo div {
    width: 30rem;
    padding-top: 30rem;
  }
}
@media screen and (min-width: 1024px) {
  .o-profile__photo div {
    width: 82%;
    padding-top: 82%;
  }
}
.o-profile__headerQuote {
  max-width: 55rem;
  margin: 3rem auto 0;
  padding: 2.25rem 0 2.8rem 1rem;
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  display: none;
}
@media screen and (min-width: 1024px) {
  .o-profile__headerQuote {
    display: block;
  }
}
.o-profile__summary {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  margin: 3rem auto 1.5rem;
  text-align: center;
}
.o-profile__listWrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}
@media screen and (min-width: 1024px) {
  .o-profile__listWrapper {
    width: 30%;
  }
}
.o-profile__list {
  width: 100%;
  margin-bottom: 3rem;
}
@media screen and (min-width: 480px) {
  .o-profile__list {
    width: 50%;
    padding: 0 1.5rem;
  }
  .o-profile__list:first-of-type {
    border-right: 1px solid #e4e4e4;
  }
}
@media screen and (min-width: 1024px) {
  .o-profile__list {
    width: 100%;
    max-width: 100%;
  }
  .o-profile__list:first-of-type {
    border-right: none;
  }
}
.o-profile__quote {
  text-align: center;
  margin: 0 auto 4.5rem;
  padding: 3rem 0 3rem 1rem;
  width: 100%;
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
}
@media screen and (min-width: 1024px) {
  .o-profile__quote {
    display: none;
  }
}
.o-profile__bioWrapper {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .o-profile__bioWrapper {
    width: 70%;
  }
}
.o-profile__bio {
  margin: 0 auto 6rem;
  text-align: left;
}
@media screen and (min-width: 1024px) {
  .o-profile__bio {
    margin-bottom: 9rem;
    max-width: 55rem;
  }
}
.o-profile__likes {
  margin-top: 3rem;
}
.o-section {
  clear: both;
  position: relative;
  margin-bottom: 4rem;
  overflow: visible;
}
@media screen and (min-width: 480px) {
  .o-section {
    margin-bottom: 5.5rem;
  }
}
@media screen and (min-width: 768px) {
  .o-section {
    margin-bottom: 7rem;
  }
}
.o-section--background-md {
  background-size: 0 auto;
}
@media screen and (min-width: 1024px) {
  .o-section--background-md {
    padding: 9rem 0;
    background-size: contain;
    background-color: #f7f7f7;
    background-position: center right;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 1024px) {
  .o-section--reverseDirection-md {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
    -ms-flex-align: center;
        align-items: center;
  }
}
.background-ghostwhite {
  background: #f8f8ff;
  padding: 8rem;
}
.border-vertical {
  border-left: 1px solid #b5b0b0;
  border-right: 1px solid #b5b0b0;
}
.Slider {
  position: relative;
  margin: 0 auto 1.5rem;
  overflow: hidden;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .Slider {
    margin-bottom: 0;
  }
}
.Slider__item {
  position: relative;
  display: inline-block;
  width: 66.66vw;
  max-width: 32rem;
  margin: 0 1rem 1rem;
  overflow: hidden;
  border-radius: 0.5rem;
  outline: none;
}
@media screen and (min-width: 480px) {
  .Slider__item {
    width: 60vw;
  }
}
@media screen and (min-width: 768px) {
  .Slider__item {
    width: 29vw;
    max-width: 28rem;
  }
}
.Slider__item:hover .Slider__itemFrame {
  -webkit-transform: scale(1.075);
          transform: scale(1.075);
}
.Slider__itemFrame {
  position: relative;
  display: block;
  padding-top: 133.33%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #f7f7f7;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}
.Slider__itemCaption {
  position: absolute;
  padding: 3rem 1.75rem 1.5rem;
  width: 100%;
  bottom: 0;
  left: 0;
  background: linear-gradient(to top, rgba(10,10,10,0.75) 0%, rgba(10,10,10,0) 100%);
  font-size: 2.2rem;
  font-weight: bold;
  color: #fff;
  pointer-events: none;
}
@media screen and (min-width: 768px) {
  .Slider__itemCaption {
    font-size: 2.2rem;
  }
}
.Slider__itemAuthor {
  margin: 0.6rem 0;
  font-size: 2rem;
  font-weight: 500;
  color: #bbb;
}
.Subnav {
  z-index: 2;
  margin: 6rem 1rem 0;
  padding: 1.5rem 1.5rem 0.3rem;
  text-align: center;
}
@media screen and (min-width: 480px) {
  .Subnav {
    margin: 6rem 2rem 0;
    padding: 1.5rem 1.5rem 0.75rem;
  }
}
@media screen and (min-width: 768px) {
  .Subnav {
    margin: 7rem 3rem 0;
  }
}
.Subnav__filter {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  padding: 0.5rem 0 1rem;
}
.Subnav__close {
  max-width: 1.5rem;
}
.o-terms {
  position: relative;
  margin: 4.5rem auto;
  text-align: center;
}
@media screen and (min-width: 480px) {
  .o-terms {
    max-width: 56rem;
  }
}
@media screen and (min-width: 1024px) {
  .o-terms {
    max-width: 90%;
    margin: 9rem auto;
  }
}
@media screen and (min-width: 1280px) {
  .o-terms {
    margin: 12rem auto;
  }
}
.o-terms h1,
.o-terms h2,
.o-terms h3,
.o-terms h4 {
  margin: 3rem 0 1.5rem;
}
.o-terms p {
  overflow: hidden;
}
.o-terms__title {
  text-align: left;
  margin-bottom: 3rem;
}
@media screen and (min-width: 1024px) {
  .o-terms__title {
    width: 70%;
    margin: 0 auto;
    text-align: center;
  }
}
.o-terms__content {
  text-align: left;
}
@media screen and (min-width: 1024px) {
  .o-terms__content {
    margin: 0 auto;
    width: 60%;
  }
}
.o-terms__content p,
.o-terms__content ul {
  display: block;
}
.o-terms__content ul {
  margin: 2rem 0;
  padding-left: 2rem;
}
.o-terms__content ul li {
  list-style-type: disc;
}
.AboutSnippet {
  display: block;
  margin-bottom: 6rem;
  padding-top: 1.5rem;
}
@media screen and (min-width: 768px) {
  .AboutSnippet {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    margin-bottom: 7.5rem;
    padding: 3rem 3% 0;
  }
}
.AboutSnippet-desc {
  min-height: auto;
}
@media screen and (min-width: 768px) {
  .AboutSnippet-desc {
    min-height: 11rem;
  }
}
@media screen and (min-width: 1024px) {
  .AboutSnippet-desc {
    min-height: 8rem;
  }
}
.AboutSnippet .Btn {
  float: left;
  padding-left: 0px;
}
.AboutSnippet .ContentWrapperLeft {
  text-align: left;
  padding: 6rem;
}
@media screen and (min-width: 768px) {
  .Snipper-border-left {
    border-left: 2px solid #e4e4e4;
  }
}
@media screen and (max-width: 480px) {
  .Snipper-border-left {
    border-left: 0px solid #e4e4e4;
  }
}
@media screen and (min-width: 768px) {
  .Rotate {
    float: left;
    display: inline-block;
    width: 30%;
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
    padding-bottom: 5%;
  }
}
@media screen and (min-width: 768px) {
  .Window {
    display: block;
  }
}
@media screen and (max-width: 480px) {
  .Window {
    display: none;
  }
}
.Advisors {
  margin: 6rem auto;
  max-width: 45rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .Advisors {
    max-width: 70rem;
    text-align: left;
  }
}
.Advisors__member {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  margin-bottom: 3rem;
}
@media screen and (min-width: 768px) {
  .Advisors__member {
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-align: start;
        align-items: flex-start;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-bottom: 6rem;
  }
}
.Advisors__photoWrapper {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media screen and (min-width: 768px) {
  .Advisors__photoWrapper {
    margin-right: 4.5rem;
  }
}
.Advisors__photo {
  width: 15rem;
  padding-top: 100%;
  margin-bottom: 1.5rem;
  border-radius: 0.6rem;
  background-color: #f7f7f7;
  background-size: cover;
  background-position: top center;
}
.Advisors__info {
  -ms-flex-positive: 1;
      flex-grow: 1;
}
.Advisors__name {
  display: block;
  width: 100%;
  margin: 0;
  color: #111;
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 1.1;
  border-bottom: none;
}
.Advisors__title {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.3;
  color: #5d5d5d;
}
.Advisors__description p {
  margin-bottom: 0;
  font-size: 1.8rem;
  line-height: 1.3;
}
.Btn {
  display: inline-block;
  font-size: 2rem;
  font-weight: 400;
  position: relative;
  padding: 1.5rem 4.4rem 1.5rem 1.2rem;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  border-bottom: 1px solid #e4e4e4;
  margin: 0 0 1.5rem;
  cursor: pointer;
}
.Btn::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #888;
  -webkit-transform: scale(0);
          transform: scale(0);
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}
.Btn:hover::after,
.Btn:focus::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.Btn--wide {
  width: 100%;
  margin-top: 0;
  padding: 3rem 4.5rem;
  border-top: 1px solid #e4e4e4;
  font-size: 2.4rem;
  text-align: center;
}
.Btn--wide::after {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 0;
  transition: opacity 0.3s;
}
.Btn--wide::before {
  content: '';
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #888;
  opacity: 0;
  transition: opacity 0.3s;
}
.Btn--wide:hover::after,
.Btn--wide:focus::after,
.Btn--wide:hover::before,
.Btn--wide:focus::before {
  opacity: 1;
}
.Btn--box {
  display: block;
  margin: 0.5rem 0 3rem;
  padding: 2.5rem;
  border: 1px solid #e4e4e4;
  border-radius: 0.4rem;
  background: #fff;
  font-weight: normal;
  outline: none;
}
.Btn--box:hover,
.Btn--box:focus {
  border: 1px solid #888;
}
.Btn--cover {
  padding: 1.5rem 1.25rem;
  color: #fff;
  border-bottom: 1px solid rgba(255,255,255,0.5);
  font-size: 1.8rem;
  letter-spacing: 0.22rem;
}
.Btn--cover::after {
  background: #fff;
}
.Btn--inverted {
  color: #fff;
  border: 1px solid #5d5d5d;
  border-radius: 0.4rem;
  padding: 1.4rem 3rem;
}
.Btn--inverted:hover,
.Btn--inverted:focus {
  border: 1px solid #888;
}
.Btn--left {
  padding: 2rem 2.5rem 2rem 5.5rem;
}
.Btn__arrowRight,
.Btn__arrowLeft,
.Btn__arrowUp {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
}
.Btn__arrowRight::after,
.Btn__arrowLeft::after,
.Btn__arrowUp::after {
  content: "";
  top: 2px;
  bottom: 0;
  margin: auto;
  position: absolute;
  width: 2.5rem;
  background: url("/img/icon-arrow.svg") no-repeat center left;
  background-size: contain;
}
.Btn__arrowRight::after {
  right: 1rem;
}
.Btn__arrowRight:hover {
  -webkit-transform: translate(0.3rem, 0);
          transform: translate(0.3rem, 0);
}
.Btn__arrowLeft::after {
  left: 1rem;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}
.Btn__arrowLeft:hover {
  -webkit-transform: translate(-0.3rem, 0);
          transform: translate(-0.3rem, 0);
}
.Btn__arrowUp::after {
  right: 1.5rem;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.Caption {
  margin-top: 1.5rem;
  font-size: 1.8rem;
  color: #5d5d5d;
}
.Carreers-Spinner {
  display: block;
  margin-bottom: 6rem;
  padding-top: 1.5rem;
}
.Carreers-Spinner .ContentWrapperLeft {
  text-align: left;
  padding: 2rem;
}
.Carreers-Spinner .Part1 {
  float: left;
  width: 20%;
  padding: 1rem 1% 0;
}
@media screen and (min-width: 768px) {
  .Carreers-Spinner .Part1 {
    display: block;
  }
}
@media screen and (max-width: 480px) {
  .Carreers-Spinner .Part1 {
    display: none;
  }
}
.Carreers-Spinner .Part2 {
  float: left;
  padding: 1rem 1% 0;
  -ms-flex-align: center;
      align-items: center;
}
@media screen and (min-width: 768px) {
  .Carreers-Spinner .Part2 {
    width: 80%;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (max-width: 480px) {
  .Carreers-Spinner .Part2 {
    width: 100%;
  }
}
.Carreers-Spinner .Part2 .WorkThumbnail {
  display: inline-block;
}
@media screen and (min-width: 768px) {
  .Carreers-Spinner .Part2 .WorkThumbnail {
    width: 40%;
  }
}
@media screen and (max-width: 480px) {
  .Carreers-Spinner .Part2 .WorkThumbnail {
    width: 100%;
  }
}
.Carreers-Spinner .Part2 .ContentWrapper {
  padding: 2rem 8% 0;
  display: inline-block;
}
@media screen and (min-width: 768px) {
  .Carreers-Spinner .Part2 .ContentWrapper {
    width: 60%;
  }
}
@media screen and (max-width: 480px) {
  .Carreers-Spinner .Part2 .ContentWrapper {
    width: 100%;
  }
}
.Carreers-Spinner .Part2 .ContentWrapper p {
  font-size: 1.6rem;
}
@media screen and (min-width: 768px) {
  .Snipper-border-left {
    border-left: 2px solid #e4e4e4;
  }
}
@media screen and (max-width: 480px) {
  .Snipper-border-left {
    border-left: 0px solid #e4e4e4;
  }
}
.CategoryContent {
  display: none;
  -ms-flex-pack: center;
      justify-content: center;
  margin: 0 auto;
  opacity: 0;
}
.CategoryContent.is-active {
  display: block;
  opacity: 1;
}
.CategoryContent__item {
  margin: 0 auto 3rem;
  max-width: 36rem;
}
@media screen and (min-width: 480px) {
  .CategoryContent__item {
    max-width: 44rem;
  }
}
@media screen and (min-width: 768px) {
  .CategoryContent__item {
    display: inline-block;
    width: 50%;
    margin: 0 auto 4rem;
    padding: 0 2rem;
    vertical-align: top;
  }
}
@media screen and (min-width: 768px) {
  .CategoryContent__item--1col {
    display: block;
    width: 100%;
    max-width: 70rem;
  }
}
.CategoryContent__title {
  width: 100%;
  margin: 1rem 0;
  font-size: 2.2rem;
  font-weight: 400;
}
.CategoryContent__icon {
  max-width: 3.4rem;
  margin-bottom: 0.75rem;
}
.CategoryContent__description {
  color: #5d5d5d;
  font-size: 1.8rem;
  line-height: 1.3;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .CategoryContent__description {
    font-size: 2rem;
  }
}
.CategoryTabs {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  font-size: 2.2rem;
  letter-spacing: 0.05rem;
  margin: 2rem 0 3rem;
}
@media screen and (min-width: 768px) {
  .CategoryTabs {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    font-size: 2.4rem;
  }
}
.CategoryTabs__item {
  margin: 1rem;
  padding: 0 0.33rem 0.33rem;
  line-height: 1.5;
  font-weight: 400;
  opacity: 0.5;
  border-bottom: 2px solid #fff;
  cursor: pointer;
  transition: opacity 0.4s, border-bottom 0.4s;
}
@media screen and (min-width: 480px) {
  .CategoryTabs__item {
    margin: 1.5rem;
  }
}
.CategoryTabs__item:hover,
.CategoryTabs__item.is-active {
  opacity: 1;
}
.CategoryTabs__item.is-active {
  border-bottom: 2px solid #111;
}
.Collage {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 84rem;
  margin: 0 auto 5rem;
}
@media screen and (min-width: 480px) {
  .Collage {
    margin-bottom: 7.5rem;
  }
}
.Collage__col {
  width: 100%;
  max-width: 40rem;
  margin: 0 auto;
}
.Collage__col:first-of-type {
  display: none;
}
.Collage__col img {
  padding: 1%;
}
@media screen and (min-width: 480px) {
  .Collage__col {
    width: 50%;
    max-width: 50%;
  }
  .Collage__col:first-of-type {
    display: block;
  }
  .Collage__col img {
    display: block;
    padding: 1.6%;
  }
}
.Cta-Work {
  position: relative;
  text-align: center;
  padding: 9rem 0;
}
.Cta-Work::before,
.Cta-Work::after {
  content: '';
  position: absolute;
  width: 1px;
  left: 0;
  right: 0;
  margin: auto;
  background: #e4e4e4;
}
.Cta-Work::before {
  top: -3rem;
  padding-top: 7.5rem;
}
.Cta-Work .Snippet {
  display: block;
  margin-bottom: 6rem;
  padding-top: 1.5rem;
}
@media screen and (min-width: 768px) {
  .Cta-Work .Snippet {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin-bottom: 5.5rem;
    padding: 3rem 3% 0;
  }
}
.Cta-Work .Snippet-desc {
  min-height: auto;
}
@media screen and (min-width: 768px) {
  .Cta-Work .Snippet {
    min-height: 11rem;
  }
}
@media screen and (min-width: 1024px) {
  .Cta-Work .Snippet {
    min-height: 8rem;
  }
}
.Cta-Work .Snippet .ContentWrapperLeft {
  text-align: left;
}
.Cta-Work .Snippet .ContentWrapperLeft p {
  font-size: 1.5rem;
}
.Cta-Work .Snippet .WorkThumbnail {
  float: left;
  width: 30%;
  display: inline-block;
  box-shadow: 0px 7px 15px rgba(132,128,128,0.651);
}
.Cta-Work .Snippet .WorkThumbnail__frameWrapper {
  width: 100%;
  margin: 0rem;
}
.Cta-Work .Snippet .ContentWrapper {
  padding-left: 0.5rem;
  width: 60%;
  display: inline-block;
}
.Cta-Work .Snippet .Title {
  font-size: 2rem;
  text-align: left;
}
.clearfix {
  overflow: initial;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.Cta {
  position: relative;
  text-align: center;
}
.Customers {
  text-align: center;
  padding: 1.5rem 0;
}
.Customers__listWrapper {
  position: relative;
  margin: 3rem auto 0;
  padding: 0 3rem;
}
.Customers__listWrapper::after,
.Customers__listWrapper::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  width: 75%;
  max-width: 98rem;
  margin: auto;
  height: 1px;
  background-color: #e4e4e4;
}
.Customers__listWrapper::before {
  top: 0;
}
.Customers__listWrapper::after {
  bottom: 0;
}
@media screen and (min-width: 480px) {
  .Customers__listWrapper {
    margin-top: 4.5rem;
  }
}
.Customers__list {
  position: relative;
  max-width: 35rem;
  margin: 1.5rem auto;
  padding: 2rem 0 2.5rem;
}
@media screen and (min-width: 480px) {
  .Customers__list {
    max-width: 52rem;
    padding: 2.5rem 0 3rem;
  }
}
@media screen and (min-width: 768px) {
  .Customers__list {
    max-width: 92rem;
    margin-top: 1.5rem;
    padding: 4rem 0 4.5rem;
  }
}
.Customers__logo {
  width: 33.33%;
  margin: 0.75rem 0;
  padding: 0.5rem;
}
@media screen and (min-width: 480px) {
  .Customers__logo {
    width: 25%;
    padding: 1.25rem;
  }
}
@media screen and (min-width: 768px) {
  .Customers__logo {
    width: 16.66%;
    padding: 0.75rem;
  }
}
@media screen and (min-width: 1024px) {
  .Customers__logo {
    padding: 1.25rem;
  }
}
.ListPositions {
  display: -ms-flexbox;
  display: flex;
  max-width: 60rem;
  margin: 0 auto;
  padding-top: 1em;
  padding-bottom: 3rem;
  -ms-flex-direction: column;
      flex-direction: column;
}
.ListPositions__row {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.3;
  border-bottom: solid 1px #f2f2f2;
  cursor: pointer;
}
.ListPositions__row:last-child {
  border-bottom: none;
}
.ListPositions__header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  padding: 2.5rem 0;
}
.ListPositions__icon {
  width: 1.8rem;
  padding-right: 0.25rem;
  line-height: 1;
}
.ListPositions__cta {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: end;
      justify-content: flex-end;
  -ms-flex-align: center;
      align-items: center;
  font-size: 1.8rem;
  font-weight: 300;
  color: #5d5d5d;
}
@media screen and (min-width: 768px) {
  .ListPositions__cta {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
}
.ListPositions__name {
  -ms-flex-item-align: center;
      align-self: center;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  margin-left: 1rem;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .ListPositions__name {
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
  }
}
.ListPositions__arrow {
  width: 1rem;
  padding-top: 0.5rem;
  margin-left: 1rem;
  background-image: url("../img/icons/drop.svg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
}
.ListPositions__arrow.is-rotated {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.Downloadable {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: 1px solid #e4e4e4;
}
.Downloadable__img {
  display: block;
  position: relative;
  width: 50%;
  padding: 15%;
  border: 1px solid #e4e4e4;
  border-bottom: none;
}
.Downloadable__img:nth-of-type(even) {
  border-left: none;
}
.Downloadable__img--darkbg {
  background: #111;
  border: none;
}
.Downloadable__icon {
  display: block;
  max-width: 5rem;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: auto;
  padding: 1.5rem;
  opacity: 0.5;
}
@media screen and (min-width: 768px) {
  .Downloadable__icon {
    max-width: 5.5rem;
  }
}
.Error {
  padding: 6rem 0;
}
.Error img {
  max-width: 40rem;
}
.FooterLinks {
  margin-bottom: 3rem;
  vertical-align: top;
}
.FooterLinks a {
  color: #fff;
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
}
.FooterLinks a:hover {
  opacity: 1;
}
@media screen and (min-width: 768px) {
  .FooterLinks {
    margin-bottom: 4.5rem;
    text-align: right;
    display: inline-block;
  }
  .FooterLinks:nth-of-type(2) {
    margin-left: 4.5rem;
  }
}
.Form {
  display: block;
}
.Form__wrapper {
  display: block;
}
.Form__heading {
  font-size: 2.4rem;
  font-weight: 400;
  color: #111;
  margin: 0 0 2.5rem;
}
.Form__textarea {
  display: block;
  width: 100%;
  padding: 1.25rem 1rem;
  margin-bottom: 1.5rem;
  border: 1px solid #e4e4e4;
  border-radius: 0.4rem;
  font-size: 1.8rem;
  transition: box-shadow 0.2s;
  overflow: hidden;
}
.Form__textarea:focus {
  outline: none;
  box-shadow: 0 0 25px 0 rgba(0,0,0,0.066);
}
@media screen and (min-width: 480px) {
  .Form__textarea {
    padding: 2rem 1.5rem;
    font-size: 2rem;
  }
}
.Form__msg {
  display: none;
  position: relative;
  margin-bottom: 3rem;
}
.Form__loader {
  display: none;
  position: absolute;
  width: 1rem;
  height: 1rem;
}
.Form__loader span {
  display: block;
  position: absolute;
  top: 0;
  width: 1rem;
  height: 1rem;
  background-color: #5d5d5d;
  -webkit-animation: glow 0.6s ease infinite;
          animation: glow 0.6s ease infinite;
}
.Form__loader span:nth-child(1) {
  left: 0;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.Form__loader span:nth-child(2) {
  left: 1.5rem;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}
.Form__loader span:nth-child(3) {
  left: 3rem;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.Form__collapsable {
  max-height: 100rem;
  opacity: 1;
  transition: max-height 0.3s, opacity 0.3s;
}
.Form .is-hidden {
  display: none;
}
.Form .is-active {
  display: block;
}
.Form .is-active--inlineBlock {
  display: inline-block;
}
.Form .is-collapsed {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
}
@-webkit-keyframes glow {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes glow {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
.FormCheck {
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto 6rem;
  max-width: 32rem;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .FormCheck {
    max-width: 100%;
  }
}
.FormCheck__inputWrapper {
  position: relative;
  background: #fff;
  width: 100%;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 768px) {
  .FormCheck__inputWrapper {
    width: 31.5%;
    margin-bottom: 0;
  }
}
.FormCheck__inputWrapper input {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}
.FormCheck__inputWrapper input:hover + .FormCheck__option {
  box-shadow: 0 0 2rem 0 rgba(0,0,0,0.066);
}
.FormCheck__inputWrapper input:hover + .FormCheck__option img {
  -webkit-transform: scale(0.95, 0.95);
          transform: scale(0.95, 0.95);
}
.FormCheck__inputWrapper input:hover + .FormCheck__option p {
  opacity: 1;
}
.FormCheck__inputWrapper input:checked + .FormCheck__option {
  box-shadow: 0 0 2rem 0 rgba(0,0,0,0.066);
  border: 1px solid #888;
}
.FormCheck__inputWrapper input:checked + .FormCheck__option p {
  opacity: 1;
}
.FormCheck__inputWrapper input:checked + .FormCheck__option img {
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
}
.FormCheck__inputWrapper input:checked + .FormCheck__option::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}
.FormCheck__option {
  padding: 2rem 1.5rem;
  transition: box-shadow 0.2s, border 0.2s;
  pointer-events: none;
  border: 1px solid #e4e4e4;
  border-radius: 0.4rem;
}
@media screen and (min-width: 768px) {
  .FormCheck__option {
    padding: 2.2rem 1.1rem;
  }
}
.FormCheck__option p {
  opacity: 0.75;
  transition: opacity 0.2s;
}
.FormCheck__option img {
  position: relative;
  display: block;
  max-height: 6.5rem;
  margin: 3.25rem auto 2.75rem;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
}
.FormCheck__option::after {
  content: '';
  position: absolute;
  display: block;
  top: 3rem;
  left: 0;
  bottom: 0;
  right: 0;
  height: 25%;
  width: 25%;
  margin: auto;
  background: url("/img/icon-check.svg") no-repeat center;
  background-size: contain;
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
}
.FormChecklist {
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto 6rem;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .FormChecklist {
    max-width: 100%;
  }
}
.FormChecklist__inputWrapper {
  position: relative;
  background: #fff;
  width: 100%;
  margin-bottom: 1.5rem;
}
.FormChecklist__inputWrapper input {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}
.FormChecklist__inputWrapper input:hover + .FormChecklist__option {
  box-shadow: 0 0 2rem 0 rgba(0,0,0,0.066);
}
.FormChecklist__inputWrapper input:hover + .FormChecklist__option p {
  opacity: 1;
}
.FormChecklist__inputWrapper input:checked + .FormChecklist__option {
  border: 1px solid #888;
}
.FormChecklist__inputWrapper input:checked + .FormChecklist__option p {
  opacity: 1;
}
.FormChecklist__inputWrapper input:checked + .FormChecklist__option::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}
.FormChecklist__option {
  padding: 2rem 1.5rem;
  transition: box-shadow 0.2s, border 0.2s;
  pointer-events: none;
  border: 1px solid #e4e4e4;
  border-radius: 0.4rem;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .FormChecklist__option {
    padding: 2rem 3%;
  }
}
.FormChecklist__option p {
  opacity: 0.75;
  transition: opacity 0.2s;
}
.FormChecklist__option::before,
.FormChecklist__option::after {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  right: 3%;
  height: 38%;
  padding-left: 12%;
  margin: auto;
}
.FormChecklist__option::before {
  background: url("/img/icon-checkempty.svg") no-repeat center right;
  background-size: contain;
}
.FormChecklist__option::after {
  background: url("/img/icon-checkmark.svg") no-repeat center right;
  background-size: contain;
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
}
.FormGrid {
  margin: 0 auto 6rem;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  border: 1px solid #e4e4e4;
  border-bottom: none;
  border-radius: 0.4rem;
}
@media screen and (min-width: 480px) {
  .FormGrid {
    border: 1px solid #e4e4e4;
  }
}
.FormGrid::after,
.FormGrid::before {
  content: '';
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 3;
  pointer-events: none;
}
@media screen and (min-width: 480px) {
  .FormGrid::after,
  .FormGrid::before {
    display: block;
  }
}
.FormGrid::before {
  height: 100%;
  width: 1px;
  background: #e4e4e4;
}
.FormGrid--4grid::after {
  width: 100%;
  height: 1px;
  background: #e4e4e4;
}
.FormGrid__label {
  position: absolute;
  top: 1.25rem;
  right: 2.5rem;
  z-index: 1;
  font-size: 1.2rem;
  font-weight: 400;
}
.FormGrid__inputWrapper {
  position: relative;
  width: 100%;
  border-bottom: #e4e4e4 1px solid;
}
@media screen and (min-width: 480px) {
  .FormGrid__inputWrapper {
    border-bottom: none;
    width: 50%;
  }
}
.FormGrid__inputWrapper input,
.FormGrid__inputWrapper select {
  display: block;
  width: 100%;
  padding: 3.8rem 1.2rem 1.2rem;
  margin: 0;
  background: none;
  border: none;
  font-size: 2.2rem;
  transition: all 0.2s;
}
.FormGrid__inputWrapper input + span,
.FormGrid__inputWrapper select + span {
  position: absolute;
  bottom: 1.1rem;
  left: 1.2rem;
  font-size: 2rem;
  color: #5d5d5d;
  pointer-events: none;
  transition: all 0.2s;
  opacity: 0.75;
}
.FormGrid__inputWrapper input.is-filled + span,
.FormGrid__inputWrapper select.is-filled + span {
  font-size: 1.8rem;
  -webkit-transform: translate(0, -3.3rem);
          transform: translate(0, -3.3rem);
}
.FormGrid__inputWrapper input:focus,
.FormGrid__inputWrapper select:focus {
  bottom: 2rem;
  outline: none;
  box-shadow: 0 0 2.5rem 0 rgba(0,0,0,0.066);
}
.FormGrid__inputWrapper input:focus + span,
.FormGrid__inputWrapper select:focus + span {
  font-size: 1.8rem;
  -webkit-transform: translate(0, -3.3rem);
          transform: translate(0, -3.3rem);
}
.FormGrid__inputWrapper select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  opacity: 0;
}
.FormGrid__inputWrapper select:focus {
  opacity: 1;
}
.FormGrid__inputWrapper select.is-filled {
  opacity: 1;
}
.FormGrid__inputWrapper select input + span {
  font-size: 1.8rem;
  -webkit-transform: translate(0, -3.3rem);
          transform: translate(0, -3.3rem);
}
.FormSelection {
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto 4.5rem;
  position: relative;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}
.FormSelection__inputWrapper {
  position: relative;
  background: #fff;
  width: 100%;
  margin-bottom: 1.5rem;
}
.FormSelection__inputWrapper input {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}
.FormSelection__inputWrapper input:hover + .FormSelection__option {
  box-shadow: 0 0 2rem 0 rgba(0,0,0,0.066);
}
.FormSelection__inputWrapper input:hover + .FormSelection__option p {
  opacity: 1;
}
.FormSelection__inputWrapper input:checked + .FormSelection__option {
  box-shadow: 0 0 2rem 0 rgba(0,0,0,0.066);
  border: 1px solid #888;
}
.FormSelection__inputWrapper input:checked + .FormSelection__option p {
  opacity: 1;
}
.FormSelection__prompt {
  display: none;
  margin: 0 auto 1rem;
  font-size: 2rem;
  color: #5d5d5d;
  text-align: center;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  border-bottom: 1px solid #e4e4e4;
  cursor: pointer;
}
.FormSelection__prompt:hover,
.FormSelection__prompt:focus {
  border-bottom: 1px solid #111;
}
.FormSelection__option {
  padding: 2.25rem;
  transition: border 0.2s, box-shadow 0.2s;
  pointer-events: none;
  text-align: center;
  border: 1px solid #e4e4e4;
  border-radius: 0.5rem;
}
@media screen and (min-width: 768px) {
  .FormSelection__option {
    padding: 2.75rem;
  }
}
.FormSelection__option p {
  margin: 0 auto;
  opacity: 0.75;
  transition: opacity 0.2s;
}
.FormSignup {
  position: relative;
  font-size: 2rem;
  width: 100%;
  margin-bottom: 3rem;
  padding-right: 2rem;
}
@media screen and (min-width: 768px) {
  .FormSignup {
    width: 50%;
  }
}
.FormSignup__wrapper {
  margin-top: 2rem;
  position: relative;
}
@media screen and (min-width: 768px) {
  .FormSignup__wrapper {
    max-width: 42rem;
  }
}
.FormSignup__input {
  background: none;
  color: #fff;
  border: none;
  border-bottom: 1px solid #5d5d5d;
  padding-bottom: 1.5rem;
  transition: all 0.3s ease-in-out;
  width: 100%;
  border-radius: 0;
  box-shadow: none;
  -webkit-appearance: 0;
  -moz-appearance: 0;
  appearance: 0;
}
.FormSignup__input:focus {
  border-bottom: 1px solid #fff;
  outline: none;
}
.FormSignup__btn {
  position: absolute;
  transition: all 0.3s ease-in-out;
  color: #5d5d5d;
  bottom: 0;
  right: 0;
  background: none;
  border: none;
  padding-bottom: 1.5rem;
}
.FormSignup__btn:hover,
.FormSignup__btn:focus,
.FormSignup__btn:active {
  color: #fff;
  outline: none;
}
.FormSignup__log {
  padding-top: 0.5rem;
  display: none;
}
.FormSignup__log.is-active {
  display: block;
}
.FormSignup__loader {
  display: none;
}
.FormSignup__loader.is-active {
  display: block;
}
.FormSignup__loader span {
  display: inline-block;
  margin-right: 0.5rem;
  width: 1rem;
  height: 1rem;
  background-color: #fff;
  -webkit-animation: glow 0.6s ease infinite;
          animation: glow 0.6s ease infinite;
}
.FormSignup__loader span:nth-child(1) {
  left: 0;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.FormSignup__loader span:nth-child(2) {
  left: 1.5rem;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}
.FormSignup__loader span:nth-child(3) {
  left: 3rem;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.Gallery {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  max-width: 118rem;
  margin: 0 auto;
  padding: 0 1rem;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 480px) {
  .Gallery {
    width: 90%;
  }
}
@media screen and (min-width: 768px) {
  .Gallery {
    width: 96%;
    max-width: 84rem;
  }
}
@media screen and (min-width: 1024px) {
  .Gallery {
    width: 90%;
    max-width: 102rem;
  }
}
.Gallery__item {
  display: block;
  position: relative;
  width: 50%;
  padding: 0 3%;
  max-width: 16rem;
  margin-bottom: 1.5rem;
}
.Gallery__item:nth-of-type(5) {
  display: none;
}
@media screen and (min-width: 480px) {
  .Gallery__item {
    width: 33.33%;
    padding: 0 2%;
    max-width: 19rem;
  }
  .Gallery__item:nth-of-type(5) {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .Gallery__item {
    width: 20%;
    margin-bottom: 0;
    padding: 0 1%;
    max-width: 100%;
  }
  .Gallery__item:nth-of-type(2),
  .Gallery__item:nth-of-type(4) {
    margin-top: 3rem;
  }
}
.Gallery__frameWrapper {
  display: block;
  position: relative;
  overflow: hidden;
}
.Gallery__frameWrapper:hover .Gallery__frame {
  -webkit-transform: scale(1.075);
          transform: scale(1.075);
}
.Gallery__frameWrapper:hover + .Gallery__description {
  color: #111;
}
.Gallery__frame {
  position: relative;
  padding-top: 159%;
  background-color: #f7f7f7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}
.Gallery__description {
  padding: 0.75rem 0;
  color: #808080;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  transition: color 0.3s;
}
@media screen and (min-width: 768px) {
  .Gallery__description {
    position: relative;
    margin-top: 1rem;
    padding: 0;
    text-align: left;
  }
}
.HeaderCareers {
  position: relative;
  padding: 10rem 0 0;
}
@media screen and (min-width: 480px) {
  .HeaderCareers {
    padding: 12rem 0 0;
  }
}
.HeaderCasestudy {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: center;
      align-items: center;
}
.HeaderCasestudy__title {
  margin-bottom: 3rem;
}
@media screen and (min-width: 1024px) {
  .HeaderCasestudy__title {
    width: 50%;
    padding-right: 6%;
  }
}
.HeaderCasestudy__frameWrapper {
  width: 100%;
  max-width: 50rem;
  margin-bottom: 3rem;
}
@media screen and (min-width: 768px) {
  .HeaderCasestudy__frameWrapper {
    max-width: 56rem;
  }
}
@media screen and (min-width: 1024px) {
  .HeaderCasestudy__frameWrapper {
    width: 50%;
    max-width: 50%;
  }
}
.HeaderCasestudy__frame {
  padding-top: 67.5%;
  background-color: transparent;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.HeaderCasestudy__details {
  margin-bottom: 6rem;
}
.Headline {
  margin: 0 auto 1rem;
  padding: 0 3rem;
  font-family: lexia, Helvetica, Arial, sans-serif;
  font-size: 4.2rem;
  font-weight: 300;
  line-height: 1.3;
}
.Headline:last-of-type {
  margin-bottom: 3rem;
}
@media screen and (min-width: 1024px) {
  .Headline {
    font-size: 5.6rem;
    line-height: 1.3;
  }
}
.HeadlineSub {
  max-width: 80rem;
  margin: 0 auto 1rem;
  font-size: 2.8rem;
  color: #808080;
}
.Hero {
  text-align: center;
  margin: 3rem 0 9rem;
}
@media screen and (min-width: 1024px) {
  .Hero {
    margin: 7.5rem 0 12rem;
  }
}
.Highlights {
  position: relative;
  margin: 0 auto;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .Highlights {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: justify;
        justify-content: space-between;
    text-align: left;
  }
}
.Highlights__main,
.Highlights__accolades {
  max-width: 36rem;
  margin: 0 auto;
}
.Highlights__main h1,
.Highlights__accolades h1 {
  font-family: lexia, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 4.2rem;
  margin: 0 0 3rem;
  padding: 0;
  line-height: 0.8;
}
@media screen and (min-width: 1024px) {
  .Highlights__main h1,
  .Highlights__accolades h1 {
    font-size: 5.6rem;
  }
}
@media screen and (min-width: 768px) {
  .Highlights__main,
  .Highlights__accolades {
    margin: 0;
    max-width: 30rem;
  }
}
.Highlights__main {
  margin-bottom: 3rem;
}
@media screen and (min-width: 1024px) {
  .Highlights__accolades {
    margin-left: 6rem;
  }
}
.Highlights__photo {
  bottom: 0;
  right: -1rem;
  position: absolute;
  max-width: 30rem;
}
@media screen and (min-width: 1024px) {
  .Highlights__photo {
    position: relative;
    max-width: 33rem;
    right: 0;
  }
}
.ImgBackground {
  display: block;
  margin: 0 auto;
  padding-top: 50%;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .ImgBackground {
    width: 100%;
    padding-top: 75%;
  }
}
.ImgBackground--header {
  width: 100%;
  max-width: 60rem;
  margin: 0;
}
@media screen and (min-width: 1024px) {
  .ImgBackground--header {
    width: 100%;
    max-width: 100%;
  }
}
.ImgBackground--tl2 {
  padding: 20% 0;
  background: url("/img/tl-bg2.png") center center;
  background-size: cover;
}
.ImgBackground--routific2 {
  background: url("/img/routific-ui2.png") center left;
  background-size: cover;
  border: 1px solid #e4e4e4;
}
@media screen and (min-width: 1024px) {
  .ImgBackground--routific2 {
    border: none;
    padding-top: 26.6%;
  }
}
.InstagramGrid {
  max-width: 102rem;
  padding: 0 3rem;
  margin: 1.5rem auto 0;
  text-align: center;
}
.InstagramGrid__item {
  position: relative;
  display: inline-block;
  width: 44%;
  max-width: 16rem;
  margin: 0 3% 6%;
  overflow: hidden;
}
@media screen and (min-width: 480px) {
  .InstagramGrid__item {
    width: 29.33%;
    max-width: 20rem;
    margin: 0 2% 4%;
  }
}
@media screen and (min-width: 768px) {
  .InstagramGrid__item {
    max-width: 25rem;
  }
}
.InstagramGrid__item:hover .InstagramGrid__frame {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.InstagramGrid__frame {
  position: relative;
  padding-top: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}
.JobDetails {
  padding-top: 10rem;
}
.JobDetails__description {
  margin-top: 3rem;
  font-size: 1.8rem;
}
.JobDetails__description ul {
  font-size: 1.8rem;
  list-style-type: circle;
  margin-left: 2rem;
}
.JobDetails__description ul li {
  margin: 1rem 0;
}
.JobDetails__description p {
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
}
.JobDetails__description b {
  color: #111;
}
.JobDetails__description .para {
  color: #5d5d5d;
  font-size: 1.8rem;
  margin-bottom: 3.2rem;
}
.JobDetails__description .para div,
.JobDetails__description .para li {
  line-height: 1.4;
  font-weight: 400;
}
.JobDetails__back {
  display: inline-block;
  margin-bottom: 4rem;
  font-size: 2rem;
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 1rem;
  color: #5d5d5d;
  transition: color 0.2s, border-bottom 0.2s;
}
.JobDetails__back:hover {
  color: #111;
  border-bottom: 1px solid #5d5d5d;
}
.JobDetails-apply {
  margin-top: 4rem;
  text-align: center;
}
.JobApplication {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 100%;
  margin-top: 3rem;
  font-size: 2.2rem;
}
@media screen and (min-width: 768px) {
  .JobApplication {
    margin-top: 5rem;
    font-size: 2rem;
  }
}
.JobApplication__success {
  display: none;
  text-align: center;
}
.JobApplication__success.active {
  display: block;
}
.JobForm {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 4rem;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.JobForm.is-submitting {
  opacity: 0.4;
  pointer-events: none;
}
.JobForm__question {
  margin-bottom: 3rem;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .JobForm__question:nth-of-type(-n + 6) {
    width: 48.5%;
  }
}
.JobForm__question label {
  display: block;
  margin-bottom: 1.2rem;
  font-size: 2rem;
  color: #5d5d5d;
}
.JobForm__fields {
  width: 100%;
}
.JobForm__fields input,
.JobForm__fields select,
.JobForm__fields textarea {
  width: 100%;
  padding: 1.2rem;
  line-height: 2rem;
  border: 1px solid #e4e4e4;
  border-radius: 0.4rem;
}
.JobForm__fields input:focus,
.JobForm__fields select:focus,
.JobForm__fields textarea:focus {
  border: 1px solid #5d5d5d;
  outline: none;
  box-shadow: 0 0 2.5rem 0 rgba(0,0,0,0.066);
}
.JobForm__fields input[type="file"] {
  color: #5d5d5d;
  font-size: 1.8rem;
  background: #f7f7f7;
}
.JobForm__fields select {
  background: #f7f7f7;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("../img/icons/drop.svg");
  background-size: 1rem;
  background-position: center right 1.5rem;
  background-repeat: no-repeat;
}
.JobForm__log {
  display: block;
  font-size: 1.8rem;
  color: #fea2b1;
  margin-top: 0.5rem;
}
.JobForm__textswitch,
.JobForm__fileswitch {
  display: inline-block;
  margin-top: 0.5rem;
  color: #5d5d5d;
  cursor: pointer;
  font-size: 1.8rem;
  border-bottom: 1px solid #e4e4e4;
}
.JobForm .Btn.Btn--box.JobForm__submit {
  width: 100%;
}
.required {
  color: #97edd8;
  padding: 0 0.3rem;
}
.optional {
  padding-left: 0.5rem;
}
.hidden {
  display: none;
}
.Label {
  display: block;
  font-size: 2rem;
  letter-spacing: 0.05rem;
  margin-bottom: 1rem;
  font-weight: 400;
}
.Label--cite {
  margin-top: 1.5rem;
}
.LinkBorder {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  border-bottom: solid #e4e4e4 1px;
}
.LinkBorder:hover {
  border-bottom: solid #111 1px;
}
.ListInterviewing {
  position: relative;
  max-width: 60rem;
  height: auto;
  max-height: 48rem;
  margin: 0 auto;
  padding: 0 2rem;
  overflow: hidden;
  transition: max-height 0.3s;
}
.ListInterviewing.is-open {
  padding-bottom: 6rem;
  max-height: 190rem;
}
.ListInterviewing.is-open__expand {
  box-shadow: none;
}
@media screen and (min-width: 768px) {
  .ListInterviewing {
    max-width: 72rem;
    max-height: 44rem;
  }
  .ListInterviewing.is-open {
    max-height: 142rem;
  }
}
.ListInterviewing__item {
  position: relative;
  padding-bottom: 3rem;
}
@media screen and (min-width: 480px) {
  .ListInterviewing__item {
    padding-bottom: 4.5rem;
  }
}
.ListInterviewing__item::after {
  content: '';
  display: block;
  position: absolute;
  left: 2.7rem;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: #e4e4e4;
  z-index: -1;
}
.ListInterviewing__bullet {
  position: absolute;
  width: 100%;
  max-width: 3rem;
  padding: 0.44rem 0;
  top: 1rem;
  left: 1.2rem;
  background: #111;
  color: #fff;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.05rem;
  z-index: 2;
}
.ListInterviewing__bullet--icon {
  padding: 0.44rem 1rem;
}
.ListInterviewing__title {
  position: relative;
  margin-bottom: 1.5rem;
  padding: 1.33rem;
  padding-left: 6rem;
  background-color: #f7f7f7;
  font-size: 1.8rem;
  font-weight: 400;
  color: #111;
  letter-spacing: 0.22rem;
  text-transform: uppercase;
}
.ListInterviewing__description {
  font-size: 1.8rem;
  padding-left: 6rem;
  line-height: 1.3;
}
@media screen and (min-width: 480px) {
  .ListInterviewing__description {
    font-size: 2rem;
  }
}
.ListInterviewing__expand {
  position: absolute;
  bottom: 0;
  left: 3rem;
  right: 3rem;
  margin: auto;
  padding: 2rem 0;
  background: #fff;
  color: #111;
  text-align: center;
  background-color: #f7f7f7;
  box-shadow: 0 -3rem 9rem 3rem #fff;
  cursor: pointer;
  transition: border 0.3s;
  z-index: 3;
}
.ListInterviewing__expand::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding-top: 3rem;
  background-repeat: no-repeat;
  background-size: 2.5rem auto;
  background-position: center right 2.5rem;
  background-image: url("../img/icon-plus.svg");
  opacity: 0.15;
  transition: opacity 0.3s;
}
.ListInterviewing__expand:hover::after {
  opacity: 1;
}
.ListInterviewing.is-open .ListInterviewing__expand {
  box-shadow: none;
}
.ListInterviewing.is-open .ListInterviewing__expand::after {
  background-image: url("../img/icon-minus.svg");
}
.List--inline {
  margin: 0;
  padding-left: 0;
}
.List--inline li {
  display: inline;
}
.List--inline li:not(:last-child)::after {
  content: "\2044";
  opacity: 0.25;
  margin: 0 1rem;
}
.List--legend {
  padding-top: 1.5rem;
  font-size: 1.3rem;
  line-height: 1.75;
}
.List--icons li {
  padding-bottom: 1rem;
}
.LogoGrid {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: start;
      justify-content: flex-start;
  margin-top: 1.5rem;
}
.LogoGrid__logo {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 2.75rem 0;
  margin-bottom: 0.5rem;
  background-color: #f7f7f7;
  border-right: 0.5rem solid #fff;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .LogoGrid__logo {
    -ms-flex-preferred-size: 33.33%;
        flex-basis: 33.33%;
  }
}
.LogoGrid__logo img {
  width: 75%;
  max-width: 12rem;
}
@media screen and (min-width: 1024px) {
  .LogoGrid__logo--5col {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
  }
}
.LogoWrapper {
  max-width: 14rem;
  margin-bottom: 3rem;
  display: inline-block;
}
.LogoWrapper--recognition {
  text-align: center;
  margin-right: 1.5rem;
  margin-bottom: 0;
}
.LogoWrapper--careers {
  opacity: 0.8;
  margin-top: 1.5rem;
  max-width: 20rem;
  transition: opacity 0.2s;
}
.LogoWrapper--careers:hover {
  opacity: 1;
}
.NewsSnippet {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.NewsSnippet h4 {
  margin: 1.5rem 0 1rem;
}
.NewsSnippet__col {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .NewsSnippet__col {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
  }
}
.NewsSnippet__frameWrapper {
  display: block;
  position: relative;
  width: 90%;
  margin: 0 auto 3rem;
  overflow: hidden;
}
.NewsSnippet__frameWrapper:hover .NewsSnippet__frame {
  -webkit-transform: scale(1.075);
          transform: scale(1.075);
}
@media screen and (min-width: 480px) {
  .NewsSnippet__frameWrapper {
    width: 80%;
  }
}
@media screen and (min-width: 1024px) {
  .NewsSnippet__frameWrapper {
    width: 93%;
    margin: 0 auto;
  }
}
.NewsSnippet__frame {
  padding-top: 55%;
  background-color: #f7f7f7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}
@media screen and (min-width: 480px) {
  .NewsSnippet__frame {
    padding-top: 52%;
  }
}
@media screen and (min-width: 1024px) {
  .NewsSnippet__frame {
    padding-top: 68%;
  }
}
.NewsSnippet__link p {
  display: none;
}
@media screen and (min-width: 1024px) {
  .NewsSnippet:nth-of-type(3) {
    margin-bottom: 16rem;
  }
}
@media screen and (min-width: 1024px) {
  .NewsSnippet:nth-of-type(n+4),
  .NewsSnippet--small {
    vertical-align: top;
    display: inline-block;
    width: 33.33%;
    padding: 0 1.5%;
  }
  .NewsSnippet:nth-of-type(n+4) h1,
  .NewsSnippet--small h1 {
    margin-top: 2.5rem;
    font-size: 2.2rem;
    color: #5d5d5d;
    font-weight: normal;
    letter-spacing: 0;
  }
  .NewsSnippet:nth-of-type(n+4) p,
  .NewsSnippet--small p,
  .NewsSnippet:nth-of-type(n+4) .c-label,
  .NewsSnippet--small .c-label {
    display: none;
  }
  .NewsSnippet:nth-of-type(n+4) a,
  .NewsSnippet--small a {
    margin-top: 0;
  }
}
.NewsSnippet--small:nth-of-type(3) {
  margin-bottom: 0;
}
.PositionContent {
  display: none;
  margin-left: 4rem;
  padding-bottom: 2.5rem;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .PositionContent {
    max-width: 80rem;
  }
}
.PositionContent__row {
  margin-bottom: 3rem;
  font-size: 2rem;
  font-weight: 400;
}
.PositionContent__row:last-child {
  margin-bottom: 1.5rem;
}
.PositionContent__title {
  margin-bottom: 3rem;
  font-weight: 400;
  cursor: pointer;
  line-height: 1.3;
  transition: all 0.15s ease-in;
}
.PositionContent__title:hover {
  color: #5d5d5d;
}
.PositionContent__location {
  font-size: 1.8rem;
  color: #5d5d5d;
  margin-top: 0.5rem;
}
.PressBlock {
  margin-bottom: 7.5rem;
}
.PressBlock__spelling {
  display: inline-block;
  margin-right: 3.2rem;
  padding: 1rem 1.25rem;
  color: #111;
  font-size: 2.2rem;
  font-weight: 400;
  border-bottom: 2px solid #97edd8;
}
.PressBlock__spelling:last-of-type {
  margin-right: 0;
}
.PressBlock__spelling--incorrect {
  color: #bbb;
  border-bottom: 2px solid #fea2b1;
}
.PressBlock__coverage {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.PressBlock__coverage p {
  font-size: 1.6rem;
}
.PressBlock__card {
  display: block;
  -ms-flex-preferred-size: 47.5%;
      flex-basis: 47.5%;
  text-align: center;
}
@media screen and (min-width: 480px) {
  .PressBlock__card {
    -ms-flex-preferred-size: 30.33%;
        flex-basis: 30.33%;
  }
}
.PressBlock__card:hover .PressBlock__logo {
  background-color: #f7f7f7;
  box-shadow: none;
}
.PressBlock__logo {
  position: relative;
  display: block;
  height: 12rem;
  margin-bottom: 2rem;
  box-shadow: 0 2px 0 0 #e4e4e4;
  transition: background-color 0.2s, box-shadow 0.2s;
}
.PressBlock__logo img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.Quotes {
  overflow: hidden;
  border-top: 1px #e4e4e4 solid;
  border-bottom: 1px #e4e4e4 solid;
}
.Quotes__wrapper {
  width: 75vw;
  max-width: 38rem;
  padding: 3rem;
  outline: none;
  text-align: center;
}
.Quotes__wrapper:nth-of-type(2) {
  border-left: 1px #e4e4e4 solid;
  border-right: 1px #e4e4e4 solid;
}
@media screen and (min-width: 768px) {
  .Quotes__wrapper {
    width: 33.33vw;
  }
}
.Quotes__thumbnail {
  max-width: 13rem;
  margin: 2.5rem auto;
  background: #fff;
}
.Quotes__thumbnail img {
  background: #f2f2f2;
  border-radius: 50%;
}
.Quotes__name {
  margin: 0;
  color: #111;
  font-size: 2.2rem;
  font-weight: 400;
}
@media screen and (min-width: 480px) {
  .Quotes__name {
    font-size: 2.6rem;
  }
}
.Quotes__role {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  margin: 0;
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.22rem;
  line-height: 1.3;
}
.Quotes__text {
  margin: 0;
  font-size: 1.8rem;
  line-height: 1.3;
}
.Services {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-direction: column;
      flex-direction: column;
  max-width: 42rem;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .Services {
    -ms-flex-direction: row;
        flex-direction: row;
    max-width: 100%;
  }
}
.Services-section {
  -ms-flex-preferred-size: 42%;
      flex-basis: 42%;
  margin-bottom: 3rem;
}
.Services-title {
  margin-bottom: 1.5rem;
  font-size: 2.4rem;
  font-weight: 400;
  letter-spacing: 0.3rem;
}
@media screen and (min-width: 768px) {
  .Services-title {
    font-size: 3rem;
  }
}
.Services-description {
  font-size: 2rem;
  color: #5d5d5d;
}
.slick-dots {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: center;
      justify-content: center;
}
.slick-dots li {
  display: block;
  max-width: 1rem;
  margin: 0 0.66rem;
  overflow: hidden;
}
.slick-dots li button {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 0;
  background-color: #bbb;
  font-size: 0;
  border: none;
  outline: none;
  overflow: hidden;
}
.slick-dots li.slick-active button {
  background-color: #111;
}
@media screen and (min-width: 768px) {
  .slick-dots li {
    display: none;
  }
}
.SocialMedia {
  width: 100%;
  margin-bottom: 3rem;
}
@media screen and (min-width: 768px) {
  .SocialMedia {
    width: 50%;
    margin-bottom: 0;
  }
}
.SocialMedia-icon {
  display: inline-block;
  max-width: 2.8rem;
  margin-right: 1rem;
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
}
.SocialMedia-icon:hover {
  opacity: 1;
}
.Subtitle {
  width: 100%;
  max-width: 62rem;
  display: inline-block;
  font-size: 2.4rem;
  line-height: 1.6;
  position: relative;
  color: #5d5d5d;
}
.Subtitle--strong {
  font-weight: 400;
  color: #111;
}
.Subtitle--quote {
  line-height: 1.2;
}
.Subtitle--quote::before,
.Subtitle--quote::after {
  font-size: 2.4rem;
  font-weight: bold;
  color: #e4e4e4;
  display: inline;
}
.Subtitle--quote::after {
  padding-left: 0.3rem;
  content: "\201D";
}
.Subtitle--quote::before {
  content: "\201C";
  position: absolute;
  left: -1.5rem;
  top: -0.3rem;
}
.Tabs__btnWrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: center;
      justify-content: center;
  position: relative;
  max-width: 56rem;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
  background: #f7f7f7;
  border: 1px solid #e4e4e4;
  border-radius: 0.4rem;
}
.Tabs__switcher {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  color: #111;
  box-shadow: 0 0 0 1px #e4e4e4, 0 0 3rem 0 rgba(0,0,0,0.066);
  border-radius: 0.3rem;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  background: #fff;
}
.Tabs__switcher:hover {
  -webkit-transform: translateX(1.5%);
          transform: translateX(1.5%);
}
.Tabs__switcher.is-switched {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
.Tabs__btn {
  position: relative;
  width: 50%;
  padding: 2.5rem 3rem 2rem;
  margin: 0;
  font-size: 2rem;
  color: #5d5d5d;
  line-height: 1;
  transition: color 0.3s;
  z-index: 2;
}
.Tabs__btn:hover {
  color: #111;
}
.Tabs__btn.is-switched {
  color: #111;
}
.Tabs__contentWrapper {
  margin-top: 7.5rem;
}
.Tabs__content {
  display: none;
}
.Tabs__content.is-active {
  display: block;
}
.Tags {
  margin-bottom: 4.5rem;
}
.Tags li {
  display: inline-block;
  margin-right: 1.5rem;
  letter-spacing: 0.05rem;
}
.Tags__tag {
  color: #5d5d5d;
  transition: all 0.3s ease-in-out;
}
.Tags__tag:hover {
  color: #111;
}
@media screen and (min-width: 768px) {
  .TeamMembers {
    width: 100%;
    height: 5rem;
    display: inline-block;
    margin: 0 auto 7.5rem;
    text-align: center;
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
}
@media screen and (max-width: 480px) {
  .TeamMembers {
    width: 100%;
    display: inline-block;
    margin: 0 auto 7.5rem;
    text-align: center;
  }
}
.TeamMembers__company {
  display: block;
  max-width: 16rem;
  margin: 0 auto 4rem;
}
.TeamMembers__people {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: start;
      align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.TeamMembers__item {
  display: block;
  margin: 0 0.4rem;
}
.TeamMembers__item:hover .TeamMembers__thumbnail {
  opacity: 1;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}
.TeamMembers__thumbnail {
  width: 8.8rem;
  padding-top: 100%;
  opacity: 0.9;
  border-radius: 0.6rem;
  background-color: #f7f7f7;
  background-size: cover;
  background-position: top center;
  transition: -webkit-transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s;
}
@media screen and (min-width: 768px) {
  .TeamMembers__thumbnail {
    width: 11.5rem;
    padding-top: 100%;
  }
}
.TeamMembers__name {
  display: block;
  color: #111;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}
.career-image-grid {
  padding: 0 20px;
}
.career-image-grid-desktop {
  display: block;
}
@media screen and (max-width: 480px) {
  .career-image-grid-desktop {
    display: none;
  }
}
.career-image-grid-mobile {
  display: none;
}
@media screen and (max-width: 480px) {
  .career-image-grid-mobile {
    display: block;
  }
}
.Title {
  font-family: lexia, Helvetica, Arial, sans-serif;
  font-size: 4rem;
  font-weight: 300;
  line-height: 1.33;
  margin: 0 0 1.75rem;
  color: #111;
}
.Title--smaller {
  font-size: 3.2rem;
}
.Title--bigger {
  font-size: 4rem;
}
@media screen and (min-width: 768px) {
  .Title--bigger {
    font-size: 4.8rem;
  }
}
.Title--uppercase {
  font-family: CalibreWeb, Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.8rem;
  letter-spacing: 0.3rem;
}
.Title--divided {
  position: relative;
  margin-bottom: 6rem;
  text-align: center;
}
.Title--divided::after {
  content: '';
  position: absolute;
  bottom: -2.5rem;
  left: 0;
  right: 0;
  max-width: 4.5rem;
  height: 1px;
  margin: auto;
  background: #e4e4e4;
}
.Title__icon {
  display: inline;
  max-width: 2rem;
  vertical-align: middle;
  margin-right: 0.6rem;
  margin-bottom: 0.3rem;
}
.Video {
  padding-top: 56.25%;
  position: relative;
  margin: 4.5rem auto;
  max-width: 60rem;
}
@media screen and (min-width: 1024px) {
  .Video {
    padding-top: 34rem;
  }
}
.Video__source {
  border: 1px solid #e4e4e4;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
}
.Warning {
  position: relative;
  max-height: 14.2rem;
  margin-bottom: 3rem;
  padding: 1.5rem;
  background-color: #f7f7f7;
  border: 1px solid #f2f2f2;
  border-radius: 0.6rem;
  text-align: left;
  overflow: hidden;
  transition: border-color 0.15s;
}
.Warning::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 14rem;
  background-image: linear-gradient(to top, #f7f7f7, rgba(255,255,255,0));
  transition: opacity 0.15s;
  z-index: 2;
  pointer-events: none;
}
.Warning p,
.Warning ul {
  margin-bottom: 0.5rem;
  color: #111;
  font-size: 1.6rem;
}
.Warning p:last-of-type {
  margin-bottom: 0;
}
.Warning ul {
  list-style: none;
}
.Warning__title {
  font-size: 2rem;
  font-weight: 500;
}
.Warning__expand {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  height: 100%;
  z-index: 3;
  cursor: pointer;
}
.Warning__expand:hover .Warning__expandImg {
  -webkit-transform: translateY(0.5rem);
          transform: translateY(0.5rem);
}
.Warning__expandImg {
  position: absolute;
  max-width: 1.5rem;
  bottom: 1.5rem;
  left: 0;
  right: 0;
  margin: auto;
  transition: -webkit-transform 0.15s;
  transition: transform 0.15s;
}
.Warning.is-open {
  max-height: 100%;
}
.Warning.is-open .Warning__expand {
  display: none;
}
.Warning.is-open::after {
  opacity: 0;
}
.WorkSnippet {
  display: block;
  margin-bottom: 6rem;
  padding-top: 1.5rem;
}
@media screen and (min-width: 768px) {
  .WorkSnippet {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    margin-bottom: 7.5rem;
    padding: 3rem 3% 0;
  }
}
.WorkSnippet-desc {
  min-height: auto;
}
@media screen and (min-width: 768px) {
  .WorkSnippet-desc {
    min-height: 11rem;
  }
}
@media screen and (min-width: 1024px) {
  .WorkSnippet-desc {
    min-height: 8rem;
  }
}
.WorkThumbnail {
  position: relative;
}
.WorkThumbnail .Logo {
  position: absolute;
  top: 3rem;
  left: -2rem;
  background: #fff;
  box-shadow: 0px 7px 11px rgba(212,204,204,0.651);
}
.WorkThumbnail__frameWrapper {
  display: block;
  position: relative;
  width: 75%;
  margin: 0 auto 3rem;
  overflow: hidden;
}
.WorkThumbnail__frameWrapper:hover .WorkThumbnail__frame {
  -webkit-transform: scale(1.075);
          transform: scale(1.075);
}
@media screen and (min-width: 768px) {
  .WorkThumbnail__frameWrapper {
    width: 100%;
  }
}
.WorkThumbnail__frame {
  padding-top: 108%;
  background-position: top center;
  background-size: cover;
  background-color: #f7f7f7;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}
@media screen and (min-width: 768px) {
  .WorkThumbnail__frame {
    padding-top: 118%;
  }
}
.WorkThumbnail__logo {
  max-width: 19rem;
}
.LogoMain {
  background: #fff;
  box-shadow: 0px 7px 11px rgba(212,204,204,0.651);
  padding: 2rem;
}
.u-font-display {
  font-family: lexia, Helvetica, Arial, sans-serif;
}
.u-font-size-xs {
  font-size: 1.8rem;
}
.u-font-size-md {
  font-size: 2.2rem;
}
.u-font-size-lg {
  font-size: 2.4rem;
}
.u-font-size-xl {
  font-size: 2.6rem;
}
.u-weight-bold {
  font-weight: bold;
}
.u-weight-500 {
  font-weight: 500;
}
.u-weight-400 {
  font-weight: 400;
}
.u-weight-300 {
  font-weight: 300;
}
.u-text-dark {
  color: #111;
}
.u-text-light-grey {
  color: #5d5d5d;
}
.u-text-light {
  color: #fff;
}
.u-text-error {
  color: #fea2b1;
}
@media screen and (min-width: 1024px) {
  .u-bg-grey-md {
    background-color: #f7f7f7;
  }
}
.u-overflow-visible {
  overflow: visible;
}
.u-overflow-auto {
  overflow: auto;
}
.u-display-inline {
  display: inline;
}
.u-align-center {
  text-align: center;
}
.u-align-right {
  text-align: right;
}
.u-vert-top {
  vertical-align: top;
}
.u-vert-bottom {
  vertical-align: bottom;
}
.u-float-left-sm {
  float: none;
}
@media screen and (min-width: 768px) {
  .u-float-left-sm {
    float: left;
  }
}
.u-float-right-sm {
  float: none;
}
@media screen and (min-width: 768px) {
  .u-float-right-sm {
    float: right;
  }
}
.u-spacing-top {
  margin-top: 3rem;
}
.u-spacing-bottom {
  margin-bottom: 3rem;
}
.u-spacing-bottom-lg {
  margin-bottom: 6rem;
}
.u-spacing-right {
  margin-right: 3rem;
}
.u-spacing-clear {
  margin: 0;
}
.u-spacing-bottom-clear {
  margin-bottom: 0;
}
.u-spacing-top-clear {
  margin-top: 0;
}
@media screen and (min-width: 1024px) {
  .u-spacing-right-clear-md {
    margin-right: 0;
  }
}
.u-padding-clear {
  padding: 0;
}
.u-padding-top {
  padding-top: 3rem;
}
.u-padding-bottom {
  padding-bottom: 3rem;
}
.u-padding-vert {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.u-reveal-sm {
  display: none;
}
@media screen and (min-width: 768px) {
  .u-reveal-sm {
    display: inline-block;
  }
}
.u-reveal-md {
  display: none;
}
@media screen and (min-width: 1024px) {
  .u-reveal-md {
    display: inline-block;
  }
}
.u-hide-md {
  display: block;
}
@media screen and (min-width: 1024px) {
  .u-hide-md {
    display: none;
  }
}
.u-divider {
  font-weight: 400;
  color: #e4e4e4;
}
.u-is-invisible {
  visibility: hidden;
}
.u-anchor {
  display: block;
  position: relative;
  top: -6rem;
  visibility: hidden;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  margin-right: 0.5rem;
  padding-top: 0.25rem;
  font-family: "font-icon";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  vertical-align: top;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-twitter:before {
  content: '\f099';
  font-size: 1.9rem;
}
.icon-github:before {
  content: '\f09b';
  font-size: 1.9rem;
}
.icon-linkedin:before {
  content: '\f30c';
  font-size: 1.8rem;
}
.icon-feed:before {
  content: '\e800';
  font-size: 1.9rem;
}
.icon-dribbble:before {
  content: '\f17d';
  font-size: 1.9rem;
}
